body {
  margin: 0px;
  padding: 0px;
}
.layout {
  display: flex;
  justify-content: center;
 
  width: 90%;
  margin-left: 7rem;
}

.mainbar {
  width: 60vw;
  margin-top: 5rem;
}
.pagedesign{
  display: flex;
}