#tags > h6 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0px;
}
#tags > p {
  width: 55%;
}
.tagsdetails {
  border: 1px solid black;
  width: 16rem;
  height: fit-content;
  padding: 2%;
  margin: 1.5%;
}
.tagsdetails > h6 {
  margin: 1px;
  background: #d0e3f1;
  width: fit-content;
  padding: 1% 3%;
  font-weight: 500;
  font-size: 0.8rem;
}
.tagsdetails > p {
  font-size: 0.8rem;
}
.detailcontent-tags {
  display: flex;
  flex-wrap: wrap;
}
